<div class="content">
  <p class="details">{{localize "LINEAGE_PAGES.SettingsPacksDetails"}}</p>
  <button data-action="packs">
    <i class="fa-solid fa-cog"></i> {{localize "LINEAGE_PAGES.SettingsPacks"}}
  </button>

  <p class="details">{{localize "LINEAGE_PAGES.SettingsArtDetails"}}</p>
  <button data-action="art">
    <i class="fa-solid fa-cog"></i> {{localize "LINEAGE_PAGES.SettingsArt"}}
  </button>
</div>
